@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html,
body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0;
}

.m-b-30 {
  margin-bottom: 30px;
}

.go-right {
  margin-left: auto;
  margin-right: 0;
}

.exercise-item {
  padding: 12px 12px 0 6px;
}

.exercise-item > .input {
  max-width: 80px;
}

.exercise-item > .select {
  max-width: 150px;
}

#flash-msg {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 20px;
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  -webkit-animation: flash-msg 5s linear forwards;
          animation: flash-msg 5s linear forwards;
}

@-webkit-keyframes flash-msg {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes flash-msg {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.is-feed {
  background: #f6f6f6;
}

.user-and-time {
  cursor: default;
}

.exercise-journal {
  text-align: center;
  margin-bottom: 0rem;
  font-size: 1.6em;
}

.exercise-journal-list {
  margin-bottom: 20px;
}

.nothing-more {
  background-color: #f7f7f9;
  padding: 1.2rem;
  color: #919191;
  border-radius: 2px;
  text-align: center;
}

.footer {
  padding: 2rem 1.5rem 3rem;
}

.sidebar-label {
  border-left: 2px #00d1b2 solid;
  padding-left: .75em;
}

.sidebar-column {
  position: fixed;
  right: 2rem;
  width: 12%;
}

